# VS Code
.vscode

# java
bin
run
*.launch
.settings
.metadata
.classpath
.project

# gradle
build
.gradle

# DataGen output files
src/generated/*

# Only store Paint.NET files in baseImages
baseImages/*
!baseImages/*.pdn